.title-orange{
    color:orange ; 
   }
   .title-red{
     color:red;
   }
   .subtitle-blue{
     color:blue;
   }
   .title-green{
     color:green;
   }
   .subtitle-red{
     color:red;
   }
   .title-blue{
     color:blue;
   }
   .subtitle-green{
     color:green
   }