.title orange {
   color: orange ;  
}
.title orange {
    font-size: 60px ;  
 }

.title red {
   color: red ;  
}
.title red {
    font-size: 40px ;  
 }
.color blue title blue{
    color: blue;
}
.color blue title blue {
    font-size: 20px ;  
 }

.title green {
   color: green ;  
}
.title green {
    font-size: 40px ;  
 }
.color red title red{
    color: red;
}
.color red title red {
    font-size: 20px ;  
 }
.title blue {
   color: blue ;  
}
.title blue {
    font-size: 40px ;  
 }
.color green title green{
    color: green;
}
.color green title green {
    font-size: 20px ;  
 }